# Database
POSTGRES_USER=your-postgres-user
POSTGRES_PASSWORD=yout-postgres-password
POSTGRES_PORT=your-postgres-port
POSTGRES_DB=your-data-base-name
DATABASE_URL=postgresql://POSTGRES_USER:POSTGRES_PASSWORD@localhost:POSTGRES_PORT/POSTGRES_DB?schema=public

# Docker Compose
COMPOSE_PROJECT_NAME=${POSTGRES_DB}